*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}

:root{
    --primary:#FB2E86;
    --mainFont:"Lato",sans-serif;
}
.btn{
    border:none;
    outline:none;
    color: white;
    background-color: var(--primary);
    padding:16px 40px;
    border-radius: 2px;
}
.btn-primary{
    background-color: var(--primary);
}
.btn-green{
    background-color: #08D15F;
}
.row{
     display: flex;
    justify-content: space-between;
    text-align: center; 
}
.container{
       width: calc(100% - 320px);
    margin:auto; 
     
}
     

@media screen  and (max-width:1400px){
   .container{
    width:calc(100% - 200px);
   } 
} 
@media screen  and (max-width:992px){
   .container{
    width:calc(100% - 100px);
   } 
}
@media screen  and (max-width:576px){
   .container{
    width:calc(100% - 40px);
   } 
}
    

.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-direction{
    flex-direction: column;
}
.gab-1{
    gap:5px;
}
.gab-2{
    gap:10px;
}
.text-center{
text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}