*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

:root{
    --primary:#FB2E86;
    --mainFont:"Lato",sans-serif;
}
.btn{
    border:none;
    outline:none;
    color: white;
    background-color: var(--primary);
    padding:16px 40px;
    border-radius: 2px;
}
.btn-primary{
    background-color: var(--primary);
}
.btn-green{
    background-color: #08D15F;
}
.row{
     display: flex;
    justify-content: space-between;
    text-align: center; 
}
.container{
    width: calc(100% - 320px ) ;
    margin:auto;  
     
}