 body{
    font-family: var(--mainFont);
    
}
.header{
     padding: 47px 0;
     }
      .header ul{
    display: flex;
     list-style-type: none;
    gap: 35px;
}
 
.list a{
    color:#0D0E43;
    font-size: 16px;
}
  
  .header .active{
    color: var(--primary);
}
 .search form{
    border:3px solid #E7E6EF;
    display: flex;
}
.search input{
    border: none;
    outline: none;
    width: 250px;
    padding-left: 9px;
 }
 .search button{
    border: none;
    outline: none;
    background-color: var(--primary);
    padding: 8px 13px;
     
 }
  @media screen and (max-width: 992px) {
   
     .footer.right-side,
     .footer .left-side
     {
      width: 100%;
         
    }
}

 @media screen and (max-width: 576px) {
   .footer{
    text-align: center;
   }

    .footer .footer-item {
        width: 100%;
    }
}
 

    

.footer{
    background-color: #EEEFFB;
    padding: 100px 0;
      
 }
 .footer .row{
  gap:30px;
 }
 footer .left-side{
    gap: 35px;
    align-items:flex-start;
     width: calc((100% - 30px) / 2);
   
 }

footer .right-side{
     width: calc((100% - 30px) / 2);
 }
 .footer .right-side.row{
  gap: 35px;
 }
 .footer-item{
     gap: 45px;
     width: calc((100% - 70px) / 3);
}
  
 
 
  .footer a{
    color:#8A8FB9;
    font-family: Lato;
    font-size: 16px;
  }
   
   .footer .left-side .address{
     color:#8A8FB9;
     font-family: Lato;
     font-size: 16px;
     margin-top: 15px;
      text-align: left;

  }
  .footer .email form {
  display: flex;
  width: 377px;
  height:49px;
}
  .footer .email input {
   font-size: 16px;
  padding: 14px;
  border: none;
  border-radius: 3px 0 0 3px;
   outline: none;
    width: 250px;
    
   
}
  .footer .email button {
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 0 3px 3px 0;
  height:49.5px;
  width: 135px;
    outline: none;
    background-color: var(--primary);
    padding: 8px 15px;
}
 
 
 
  
 .footer .footer-item h2 {
    font-family: Josefin Sans;
    font-size: 22px;
     margin-bottom: 46.65px;
 }
  .footer .footer-item nav{
    gap: 23.3px;
 }
  
 .footer .left-side h2 {
  font-size: 16px;
  margin-bottom: 11.1px;
  font-family: Lato;
}
.footer .email{
  margin: 20px 0;
   
}

   .bar{
    display: none;
}
 
 @media screen and (max-width: 1045px){
.list, 
.search{
    display: none;
}
  .bar{
    display: block ;
}}